* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    background-color: black;
} */
.body-section {
    background: url('./images/weatherbg.jpg');
    object-fit: cover;
    object-position: center;
    background-position: center;
    height: 100dvh;
    width: 100%;
}

.container-flex {
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.section1 {
    margin: 0 3% 0 3%;
}

.body-section section input {
    width: 40%;
    height: 60%;
    margin-left: 3%;
    padding: 8px;
    border-radius: 8px;
    border: none;
}

.body-section section button {
    background-color: blueviolet;
    padding: 8px 20px;
    color: white;
    border-radius: 8px;
    border: blueviolet;
    margin-top: 3%;
    cursor: pointer;
}

button:hover {
    background-color: blueviolet;
    opacity: 0.7;
    transition: all 500ms ease-in-out;
}

.values div a {
    text-decoration: none;
}

.body-section section .container-flex .flex {
    color: white;
    margin-left: 4%;
}

.body-section section .container-flex .city {
    margin-right: 4%;
    color: white;
}

.values .cloudy {
    margin-left: 5%;
}

.values .cloudy h3 {
    font-size: 30px;
    margin-right: 10%;
    text-transform: capitalize;
}



.row .card {
    background-color: #430f58;
    color: white;
    margin-left: 3%;
    text-align: center;
    margin-top: 2%;
}

.below {
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 20px;
    font-style: italic;
}

.belowtxt {
    position: fixed;
    bottom: 0;
    left: 5%;
    right: 0;
}

.below a {
    text-decoration: underline;
    color: white;
}

.units .active {
    color: rgb(33, 33, 33);
    cursor: default;
}



.weather-forecast-temperature-min {
    color: gray;
}

/* .values .cloudy p {
    font-size: 35px;
    font-weight: bold;
} */

@media(max-width: 768px) {
    .belowtxt {
        position: absolute;
        bottom: 0;
        left: 5%;
        right: 0;
    }

    .section1 {
        margin: 10rem 3% 0 10%;
    }

    .weathericon {
        display: block;
        margin: 0 auto;
    }
}

@media(max-width: 540px) {
    .body-section {
        height: 100dvh;
        width: 100%;
    }

    .section1 {
        margin: 2rem 3% 0 10%;
    }
}

@media(max-width: 400px) {
    .section1 {
        margin: 1rem 3% 0 10%;
    }
}

@media(max-width: 300px) {
    .humid-inline {
        display: inline-flex;
    }

    .humid-inline .wind {
        margin-left: 2rem;
    }
}